<%= simple_form_for @reply, html: { multipart: true, class: 'new_reply' } do |f| %>
  <%= f.input :content_type, as: :hidden, value: current_user.prefer_plain_text? ? 'text' : 'html' %>
  <%= f.input :ticket_id, as: :hidden %>

  <div class="card bb">
    <div class="card-header">
      <%= user_avatar current_user, class: 'avatar', size: 35 %>
    </div>
    <div class="card-body">
      <h3 class="text-default"><%= t(:reply) %></h3>
      <% if current_user.agent? %>
        <div class="custom-control custom-radio">
          <%= f.radio_button :internal, false, label: t(:reply), data: { remote: true, url: new_reply_path, params: "reply[ticket_id]=#{@reply.ticket.id}" }, class: 'custom-control-input' %>
          <%= f.label :internal_false, t(:reply), class: 'custom-control-label' %>
        </div>
        <div class="custom-control custom-radio">
          <%= f.radio_button :internal, true, data: { remote: true, url: new_reply_path, params: "reply[ticket_id]=#{@reply.ticket.id}" }, class: 'custom-control-input' %>
          <%= f.label :internal_true, t(:internal_note), class: 'custom-control-label' %>
        </div>
      <% end %>
      <% if can? :update, @reply.ticket %>
        <%= f.simple_fields_for :ticket do |ff| %>
          <% blank = @outgoing_addresses.count == 0 ? EmailAddress.default_email : '' %>
          <%= ff.input :to_email_address_id, collection: @outgoing_addresses, value_method: :id, label_method: :formatted, include_blank: blank %>
        <% end %>
      <% end %>

      <div data-notified-users>
        <%= render 'replies/notified_users', f: f %>
      </div>

      <% if (@canned_replies = EmailTemplate.canned_replies.order(:name)).any? %>
        <div class="row mb-2">
          <div class="col-md-4">
            <label><%= t(:canned_reply) %></label>
          </div>
          <div class="col-md-8">
            <%= render 'replies/canned_replies' %>
          </div>
        </div>
      <% end %>
      <%
        if @reply.content.body.blank? && @reply.errors.count == 0
          prefilled_body = ''

          if current_user.prefer_plain_text?
            prefilled_body = "\n#{html_to_text current_user.signature}\n"
          else
            prefilled_body = "<p></p>#{current_user.signature}<br />"
          end

          if current_user.include_quote_in_reply?
            prefilled_body += t(:on_date_author_wrote, author: @reply.reply_to.user.email,
                date: l(@reply.reply_to.created_at.in_time_zone(current_user.time_zone), format: :long))

            if current_user.prefer_plain_text?
              prefilled_body += "\n#{wrap_and_quote(@reply.reply_to.content, true)}"
            else
              # prefilled_body += "<blockquote class='original_message'>#{text_to_html(wrap_and_quote(@reply.reply_to.content, false))}</blockquote>"
              prefilled_body += "<div class='replyQuote'><br />#{text_to_html(wrap_and_quote(@reply.reply_to.content, true))}</div>"
            end
          end

          @reply.content.body = prefilled_body
        end
      %>

      <% if current_user.prefer_plain_text? %>
        <%= f.text_area :content, label: false %>
      <% else %>
        <%= f.rich_text_area :content, label: false %>
      <% end %>

      <%= render 'attachments/form', f: f %>

      <% if can? :update, @reply.ticket %>
        <%= f.simple_fields_for :ticket do |ff| %>
          <%= ff.input :status, collection: t('activerecord.attributes.ticket.statuses'), label_method: :last, value_method: :first, label: t(:change_status) %>
        <% end %>
      <% end %>

      <%= button_tag t(:save_as_draft), type: :submit, name: 'reply[draft]', value: true, class: 'btn btn-secondary' %>
      <%= button_tag (@reply.internal? ? t(:attach_note) : t(:send_reply)), type: :submit, value: false, name: 'reply[draft]', class: 'reply-submit btn btn-primary' %>
    </div>
  </div>
<% end %>
