<div class="card accordion reply <%= div_class %> <%= 'internal-reply' if reply.internal? %> <%= 'status-reply' if reply.kind_of?(StatusReply) %>" id="reply-<%=reply.id%>-accordion">
  <div class="card-header">
    <a href="#reply-<%=reply.id%>" class="text-default row" data-toggle="collapse" data-target="#reply-<%=reply.id%>">
      <% if reply.is_a? SystemReply %>
        <div class="col-md-1">
          <%= system_gravatar class: 'avatar', size: 48 %>
        </div>
        <div class="col-md-11">
          <span><%= t(:reply_by) %> <strong><%= reply.ticket.reply_from_address %></strong></span>
          <span class="right" title="<%= l reply.created_at.in_time_zone(current_user.time_zone), format: :long %>">
            <i class="fa fa-clock-o"></i>
            <%= time_ago_as_phrase(reply.created_at.in_time_zone(current_user.time_zone)) %>
          </span>
        </div>
      <% else %>
        <div class="col-md-1">
          <%= user_avatar reply.user, class: 'avatar', size: 48 %>
        </div>
        <div class="col-md-11">
          <span><%= t(:reply_by) %> <strong><%= reply.user.email %></strong></span>
          <span class="float-right" title="<%= l reply.created_at.in_time_zone(current_user.time_zone), format: :long %>">
            <% if reply.attachments.count > 0 %>
              <%= fa_icon 'paperclip' %>
            <% end %>
            <%= fa_icon 'clock', text: time_ago_as_phrase(reply.created_at.in_time_zone(current_user.time_zone)), style: 'far' %>
          </span>
        </div>
      <% end %>
    </a>
  </div>
  <div id="reply-<%=reply.id%>" class="collapse" data-parent="#reply-<%=reply.id%>-accordion">
    <div class="card-body reply-content <%= div_class %>">
      <% if reply.raw_message_file_size.to_i > 0 %>
        <a class="pull-right text-default" href="<%= reply_path(reply, format: :eml) %>"><%= fa_icon 'save' %></a>
      <% end %>

      <% if can?(:split_off, reply) && !reply.kind_of?(StatusReply) %>
        <%= link_to reply_split_off_path(reply_id: reply.id), method: 'post', class: 'float-right text-default split-off-ticket' do %>
          <%= fa_icon 'code-fork', style: 'far', text: t(:split_off_ticket) %>
        <% end %>
      <% end %>

      <% if reply.content_type == 'html' %>
        <% if reply.is_a? SystemReply %>
          <%= render('/shared/content_for_system_reply', reply: reply) %>
        <% else %>
          <%= sanitize_html(reply.content.body, reply.inline_files) %>
        <% end %>
      <% else %>
        <pre><%= word_wrap(html_to_text(reply.content.body), line_width: 72) %></pre>
      <% end %>

      <% if reply.attached_files.size > 0 %>
        <hr />
        <ul class="attachments">
          <%= render reply.attached_files %>
        </ul>
      <% end %>
    </div>
    <div class="card-footer">
      <%= render partial: 'shared/notified_users_list', locals: {reply: reply} %>
    </div>
  </div>
</div>
