<%= simple_form_for @user, html: { class: 'edit_user' } do |f| %>
  <h5><%= t(:account_settings) %></h5>
  <p><%= t(:only_fill_in_passwords_when_modifying) %></p>

  <% if can? :create, User %>
    <%= f.input :email, input_html: { tabindex: tabindex } %>
  <% end %>

  <%= f.input :name, input_html: { tabindex: tabindex } %>
  <%= f.input :password, input_html: { tabindex: tabindex } %>
  <%= f.input :password_confirmation, input_html: { tabindex: tabindex } %>

  <% if can? :create, User %>
    <%= f.input :agent, label: t(:user_is_an_agent), wrapper: :custom_boolean, input_html: { tabindex: tabindex } %>
  <% end %>

  <%= f.input :active, label: t(:active), wrapper: :custom_boolean, input_html: { tabindex: tabindex } %>
  <%= f.input :time_zone, collection: @time_zones, input_html: { tabindex: tabindex } %>
  <%= f.input :locale, collection: @locales, input_html: { tabindex: tabindex } %>
  <%= f.input :per_page, collection: [10, 20, 30, 50, 75, 100], input_html: { tabindex: tabindex } %>

  <% if @user.agent? %>
    <h5><%= t(:notification_settings) %></h5>

    <%= f.input :schedule_enabled,
      as: :radio_buttons,
      collection: [[false, t('activerecord.attributes.user.schedule_enabled_false')], [true, t('activerecord.attributes.user.schedule_enabled_true')]],
      label_method: :last,
      value_method: :first,
      wrapper: :custom_collection,
      item_wrapper_class: 'custom-control custom-radio',
      input_html: { tabindex: tabindex } %>

    <div data-work-can-wait style="<%= @user.schedule_enabled? ?
        'display: block;' : 'display: none;' %>">
      <%= f.simple_fields_for :schedule, build_schedule_for_user do |ff|  %>
        <div class="input-group">
          <div class="input-group-prepend">
            <%= ff.label :start, t(:from), class: 'input-group-text' %>
          </div>
          <%
            selected = '8:00'
            unless ff.object.start.nil?
              selected = "#{ff.object.start.hour}:00"
            end
          %>
          <%= ff.input :start, collection: (0..23).map { |n| "#{n}:00" }, value: selected, label: false, wrapper: false %>
          <div class="input-group-prepend">
            <%= ff.label :end, t(:until), class: 'input-group-text border-left-0' %>
          </div>
          <%
            selected = '18:00'
            unless ff.object.end.nil?
              selected = "#{ff.object.end.hour}:00"
            end
          %>
          <%= ff.input :end, collection: (0..23).map { |n| "#{n}:00" }, value: selected, label: false, wrapper: false %>
        </div>
        
        <%= ff.input :sunday, as: :boolean, label: localize_day_name(0).capitalize, wrapper: :custom_boolean %>
        <%= ff.input :monday, as: :boolean, label: localize_day_name(1).capitalize, wrapper: :custom_boolean %>
        <%= ff.input :tuesday, as: :boolean, label: localize_day_name(2).capitalize, wrapper: :custom_boolean %>
        <%= ff.input :wednesday, as: :boolean, label: localize_day_name(3).capitalize, wrapper: :custom_boolean %>
        <%= ff.input :thursday, as: :boolean, label: localize_day_name(4).capitalize, wrapper: :custom_boolean %>
        <%= ff.input :friday, as: :boolean, label: localize_day_name(5).capitalize, wrapper: :custom_boolean %>
        <%= ff.input :saturday, as: :boolean, label: localize_day_name(6).capitalize, wrapper: :custom_boolean %>
      <% end %>
    </div>
  <% end %>

  <h5><%= t(:email_settings) %></h5>

  <%= f.input :prefer_plain_text, wrapper: :custom_boolean, tabindex: tabindex %>
  <%= f.input :include_quote_in_reply, wrapper: :custom_boolean, tabindex: tabindex %>

  <% if @user.agent? %>
    <%= f.input :notify,
        label: t(:receive_new_ticket_notifications), wrapper: :custom_boolean, tabindex: tabindex %>

    <h5><%= t(:signature) %></h5>
    <%= f.rich_text_area :signature, tabindex: tabindex %>
  <% end %>

  <% if can? :create, Labeling.new(labelable: @user) %>
    <h5><%= t(:access_control) %></h5>
    <p><%= t(:have_access_to_label) %></p>
    <%= f.input :label_ids, collection: @labels, value_method: :id, label_method: :name, input_html: {
        multiple: true, class: 'select2', tabindex: tabindex } %>
  <% end %>

  <% unless Rails.application.secrets[:google_client_id].blank? %>
    <div>
      <h5><%= t(:omniauth_connect_title) %></h5>
      <p><%= t(:omniauth_connect_text) %></p>

      <%= link_to user_google_oauth2_omniauth_authorize_path do %>
        <%= fa_icon 'google', style: 'fab', text: t(:omniauth_connect_google_text) %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit t(:save), class: 'btn btn-primary mt-3' %>
<% end %>
