<div class="container users">
  <div class="card">
    <div class="card-header">
      <%= link_to new_user_path, class: 'float-right btn btn-primary' do %>
        <i class="fa fa-plus" style="top:1px"></i>
      <% end %>
      <h2 class="mb-0"><%= t(:users) %></h2>
    </div>
    <table class="card-body table">
      <thead>
        <tr>
          <td colspan="3">
          <%= simple_form_for users_path, as: :user_search, method: :get do |f| %>
            <div class="row">
              <div class="col-md-5">
                <% # TODO move placeholder into translations %>
                <%= f.input :q, value: params[:q], label: false, placeholder: 'Search Users' %>
              </div>
              <div class="col-md-7 d-flex align-items-center checkboxes">
                <%= f.input :active, value: 0, as: :boolean, wrapper: :custom_boolean, label: t(:inactive) %>
                <%= f.input :customer, value: 0, as: :boolean, wrapper: :custom_boolean, label: t(:customer) %>
                <%= f.input :agent, value: 1, as: :boolean, wrapper: :custom_boolean, label: t(:agent) %>
              </div>
            </div>
          <% end %>
          </td>
        </tr>
        <tr>
          <th><%= t(:email) %></th>
          <th><%= User.human_attribute_name(:name) -%></th>
          <th><%= t(:role) %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= user_avatar user, class: 'avatar' %>
              <%= link_to user.email, edit_user_path(user) %>
            </td>
            <td><%= user.name -%></td>
            <td><%= (user.agent?) ? t(:agent) : t(:customer) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="card-footer">
      <%= will_paginate @users %>
    </div>
  </div>
</div>