<div class="row">
  <div class="card col-lg-8 offset-lg-2">
    <div class="card-body">
      <h3><%= t(:forgot_password) %></h3>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), method: :post) do |f| %>
        <%= f.input :email %>
        <%= f.submit t(:send_instructions), class: 'btn btn-primary' %>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
