<%
  reply_or_ticket ||=   
  (reply if defined?(reply)) || 
  (ticket if defined?(ticket)) ||
  raise('no reply or ticket given') 
%>

<ul class="list-inline text-secondary">
  <% if reply_or_ticket.notified_users.count > 0 %>
    <li class="list-inline-item"><%= t(:notification_sent_to) %></li>

    <% reply_or_ticket.notified_users.where(agent: false).each do |user| %>
      <li class="list-inline-item"><%= link_to(user.email, user_tickets_path(user_id: user.id)) %></li>
    <% end %>

    <% if reply_or_ticket.notified_users.where(agent: true).any? %>
      <li class="list-inline-item"><strong><%= t(:agents) %>:</strong></li>
      <% reply_or_ticket.notified_users.where(agent: true).each do |user| %>
        <li class="list-inline-item"><%= link_to(user.email, user_tickets_path(user_id: user.id)) %></li>
      <% end %>
    <% end %>

  <% else %>
    <li class="list-inline-item"><%= t(:no_notifications_sent) %></li>
  <% end %>
</ul>