<% if f.object.file_file_size.to_i == 0 %>
  <div class="input-group mb-2">
    <div class="custom-file">
      <%= f.file_field :file, label: false %>
      <%# TODO translate this %>
      <%= f.label :file, 'Choose file', class: 'custom-file-label' %>
    </div>
  </div>

<% else %>
  <strong style="display: block"><%= f.object.file_file_name %></strong>
  <span><%= number_to_human_size(f.object.file.size) %> &middot; <%= link_to t(:download), f.object.file.url %></span>
  <label style="display: inline-block; float: right">
    <%= f.check_box :_destroy, label: false %>
    <%= t :delete %>
  </label>
<% end %>
