<div class="container">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0"><%= t(:change_settings) %></h2>
    </div>
    <div class="card-body">
      <%= simple_form_for @tenant, url: settings_path do |f| %>
        <h5><%= t(:localization_settings) %></h5>

        <%= f.input :default_time_zone, collection: @time_zones %>

        <%= f.input :ignore_user_agent_locale, wrapper: :custom_boolean %>

        <%= f.input :default_locale, collection: @locales %>

        <h5><%= t(:permissions) %></h5>

        <%= f.input :share_drafts, wrapper: :custom_boolean %>
        <%= f.input :ticket_creation_is_open_to_the_world, wrapper: :custom_boolean %>
        <%= f.input :ask_for_name, wrapper: :custom_boolean %>

        <h5><%= t(:notification_settings) %></h5>

        <%= f.input :first_reply_ignores_notified_agents, wrapper: :custom_boolean %>
        <%= f.input :notify_client_when_ticket_is_assigned_or_closed, wrapper: :custom_boolean %>
        <%= f.input :notify_client_when_ticket_is_created, wrapper: :custom_boolean %>
        <%= f.input :notify_user_when_account_is_created, wrapper: :custom_boolean %>

        <% if AppSettings.enable_custom_stylesheet || AppSettings.enable_custom_javascript %>
          <h5><%= t(:look_and_feel) %></h5>

          <% if AppSettings.enable_custom_stylesheet %>
            <% if AppSettings.custom_stylesheet_url %>
              <%= f.input(:stylesheet_url, input_html: { value: AppSettings.custom_stylesheet_url }, disabled: true) %>
            <% else %>
              <%= f.input(:stylesheet_url) %>
            <% end %>
          <% end %>

          <% if AppSettings.enable_custom_javascript %>
            <% if AppSettings.custom_javascript_url %>
              <%= f.input(:javascript_url, input_html: { value: AppSettings.custom_javascript_url }, disabled: true) %>
            <% else %>
              <%= f.input(:javascript_url) %>
            <% end %>
          <% end %>
        <% end %>

        <%= f.submit t(:save), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>