<div class="modal fade" id="changeAssigneeModal" tabindex="-1" role="dialog" aria-labelledby="changeAssigneeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%= simple_form_for ticket, remote: true, method: :patch, html: { class: "modal-content"} do |f| %>
      <div class="modal-header">
        <h5 class="modal-title" id="changeAssigneeModalLabel"><%= t(:change_assignee) %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= f.input :assignee_id, collection: @agents.ordered, value_method: :id, label_method: :email, include_blank: t(:unassigned), class: 'select2' %>
      </div>
      <div class="modal-footer">
        <%= f.submit t(:assign), class: 'btn btn-primary' %>
        <%= f.submit t(:assign_to_me), name: 'assign_to_me', class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>