<%= simple_form_for @ticket, url: tickets_url, html: { multipart: true } do |f| %>
  <% type = (!current_user.nil? && current_user.prefer_plain_text?) ? 'text' : 'html' %>

  <%= f.input :content_type, as: :hidden, value: type %>
  <%= f.input :from, tabindex: tabindex %>

  <% if Tenant.current_tenant.ask_for_name %>
    <%= f.input :name, tabindex: tabindex %>
  <% end %>

  <% if !current_user.nil? && current_user.agent? %>
    <% blank = @email_addresses.count == 0 ? EmailAddress.default_email : nil %>
    <%= f.input :to_email_address_id, collection: @email_addresses, label_method: :formatted, label: t('activerecord.attributes.ticket.to'), input_html: { tabindex: tabindex }, include_blank: false %>
  <% end %>

  <% if params[:label] %>
    <input name="label" type="hidden" value="<%= params[:label] %>"
  <% end %>

  <%= f.input :subject, tabindex: tabindex %>

  <% if can? :update, @ticket %>
    <%
      options = [ [t(:unassigned), nil] ]
      @agents.ordered.map.each {|u| options << [u.email, u.id]}
    %>
    <%= f.input :assignee, collection: options, input_html: { tabindex: tabindex, class: 'select2' }, include_blank: false %>

    <% options = Ticket.priorities.keys.map { |k| [t(k, scope: 'activerecord.attributes.ticket.priorities'), k] } %>
    <%= f.input :priority, collection: options, tabindex: tabindex %>
  <% end %>

  <p>
    <%
      content = ''
      unless current_user.nil?
        if current_user.prefer_plain_text?
          content = "\n#{html_to_text current_user.signature}"
        else
          content = "<p></p>#{current_user.signature}"
        end
      end
    %>

    <% if type == 'html' %>
      <%= f.trix_editor :content,
        value: (f.object.content.nil? ? content : f.object.content), tabindex: tabindex %>
    <% else %>
      <%= f.text_area :content,
        value: (f.object.content.nil? ? content : f.object.content), tabindex: tabindex %>
    <% end %>
  </p>

  <%= render 'attachments/form', f: f %>

  <% if Ticket.recaptcha_keys_present? && !user_signed_in? %>
    <%= recaptcha_tags hl: I18n.locale %>
  <% end %>

  <%= f.submit t(:create_ticket), class: 'btn btn-primary' %>
<% end %>
