<h1 class="text-center mt-5 mb-5"><strong>BRIMIR</strong></h1>

<div class="row">
  <div class="card col-lg-8 offset-lg-2">
    <div class="card-body">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
          </div>
          <%= f.input :email, as: :email, label: false, placeholder: t(:email), wrapper: false %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
          </div>
          <%= f.input :password, label: false, placeholder: t('activerecord.attributes.user.password'), wrapper: false %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <%= f.input :remember_me, as: :boolean %>
        <% end -%>

        <%= f.submit t(:sign_in), class: 'btn btn-secondary' %>

        <p class="text-center">
          <%= render 'devise/shared/links' %>
          <% if Tenant.current_tenant.ticket_creation_is_open_to_the_world %>
            <span class="mrs mls">&middot;</span>
            <%= link_to t(:new_ticket), new_ticket_path %>
          <% end %>
          <span class="mrs mls">&middot;</span>
          <%= link_to 'GetBrimir.com', 'https://getbrimir.com' %>
        </p>
        <p class="text-center">
          <% unless Rails.application.secrets[:google_client_id].blank? %>
          <%= t(:omniauth_sign_in_title) %>:
            <%= link_to user_google_oauth2_omniauth_authorize_path do %>
              <i class="fab fa-google"></i>
              <%= t(:omniauth_sign_in_google) %>
            <% end %>
          <% end %>
        </p>

      <% end %>
    </div>
  </div>
</div>
