<h1 class="text-center mt-5 mb-5"><strong>BRIMIR</strong></h1>

<div class="row">
  <div class="card col-lg-8 offset-lg-2">
    <div class="card-body">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-fw fa-user"></i></span>
          </div>
          <%= f.input :email, as: :email, label: false, placeholder: t(:email), wrapper: false %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-fw fa-key"></i></span>
          </div>
          <%= f.input :password, label: false, placeholder: t('activerecord.attributes.user.password'), wrapper: false %>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-center">
            <% if devise_mapping.rememberable? -%>
              <%= f.input :remember_me, as: :boolean, wrapper_html: { class: 'mb-0' } %>
            <% end -%>
          </div>
          <div class="col-md-6">
            <%= f.submit t(:sign_in), class: 'btn btn-secondary btn-block' %>
          </div>
        </div>

        <p class="text-center mt-4">
          <%= render 'devise/shared/links' %>
          <% if Tenant.current_tenant.ticket_creation_is_open_to_the_world %>
            <span class="mr-1 ml-1">&middot;</span>
            <%= link_to t(:new_ticket), new_ticket_path %>
          <% end %>
          <span class="mr-1 ml-1">&middot;</span>
          <%= link_to 'Brimir on GitHub', 'https://github.com/ivaldi/brimir' %>
        </p>
        <p class="text-center">
          <% unless Rails.application.secrets[:google_client_id].blank? %>
          <%= t(:omniauth_sign_in_title) %>:
            <%= link_to user_google_oauth2_omniauth_authorize_path do %>
              <%= fa_icon 'google', style: 'fab', text: t(:omniauth_sign_in_google) %>
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
