<div class="card">
  <div class="card-body">
    <h2 class="text-center">BRIMIR</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="">
        <div class="row">
          <div class="">
            <span class="prefix"><i class="fa fa-user"></i></span>
          </div>
          <div class="">
            <%= f.input :email, as: :email, label: false, placeholder: t(:email) %>
          </div>
        </div>
        <div class="row">
          <div class="small-1 columns">
            <span class="prefix"><i class="fa fa-key"></i></span>
          </div>
          <div class="small-11 columns">
            <%= f.input :password, label: false, placeholder: t('activerecord.attributes.user.password') %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
        <% end -%>

        <%= f.submit t(:sign_in), class: 'btn btn-secondary' %>
      </div>

      <p class="text-center">
        <%= render 'devise/shared/links' %>
        <% if Tenant.current_tenant.ticket_creation_is_open_to_the_world %>
          <span class="mrs mls">&middot;</span>
          <%= link_to t(:new_ticket), new_ticket_path %>
        <% end %>
        <span class="mrs mls">&middot;</span>
        <%= link_to 'GetBrimir.com', 'https://getbrimir.com' %>
      </p>
      <p class="text-center">
        <% unless Rails.application.secrets[:google_client_id].blank? %>
        <%= t(:omniauth_sign_in_title) %>:
          <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
            <i class="fa fa-google-plus-square"></i>
            <%= t(:omniauth_sign_in_google) %>
          <% end %>
        <% end %>
      </p>

    <% end %>
  </div>
</div>
