<%= simple_form_for @email_address do |f| %>
  <%= f.input :email if f.object.new_record? %>
  <%= f.input :name %>
  <%= f.input :default, as: :boolean %>

  <p><%= t(:verification_mail_will_be_sent) %></p>

  <p>
    <strong><%= t(:mark_spam_spf) %></strong>
  </p>

  <%= f.submit t(:save), class: 'btn btn-primary' %>
<% end %>

