<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= 'rtl' if @rtl %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Brimir" %></title>
    <%= favicon_link_tag '/favicon.png' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,600italic' %>

    <%= stylesheet_pack_tag 'styles' %>
    <%= custom_stylesheet_link_tag %>

    <%= csrf_meta_tags %>
  </head>
  <body class="<%= ["#{controller_name}-#{action_name}", ('user-signed-in' if user_signed_in?)].compact.join(' ') %>" style="<%= 'direction: rtl' if @rtl %>">

    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <%= link_to 'BRIMIR', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <div class="d-md-none">
              <%= render 'inbox_menu' %>
            </div>
            <% if can? :index, EmailTemplate %>
              <li class="nav-item"><a href="<%= email_templates_path %>" class="nav-link"><i class="fa fa-file fa-fw"></i></a></li>
            <% end %>
            <% if can? :index, EmailAddress %>
              <li class="nav-item"><a href="<%= email_addresses_path %>" class="nav-link"><i class="fa fa-envelope fa-fw"></i></a></li>
            <% end %>
            <% if can? :index, Rule %>
              <li id="joyride-rules" class="nav-item"><a href="<%= rules_path %>" class="nav-link"><i class="fa fa-random fa-fw"></i></a></li>
            <% end %>
            <% if can? :index, User %>
              <li id="joyride-users" class="nav-item"><a href="<%= users_path %>" class="nav-link"><i class="fa fa-users fa-fw"></i></a></li>
            <% end %>
            <% if can? :update, Tenant.current_tenant %>
              <li class="nav-item"><a href="<%= edit_settings_path %>" class="nav-link"><i class="fa fa-wrench fa-fw"></i></a></li>
            <% end %>
            <li class="nav-item dropdown" id="joyride-settings">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
                <%= user_avatar current_user, class: 'avatar mrm', size: 20 %><%= current_user.email %>
              </a>
              <div class="dropdown-menu">
                <%= link_to edit_user_path(current_user), class: 'dropdown-item' do %>
                  <i class="fa-cogs fa fa-fw"></i> <%= t(:personal_settings) %>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                  <i class="fa-sign-out fa fa-fw"></i> <%= t(:sign_out) %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>

    <main>
      <% if user_signed_in? %>
        <nav class="navbar navbar-dark bg-secondary sidebar d-block">
          <%= link_to t(:new_ticket), new_ticket_path, class: 'btn btn-primary btn-block mt-2 mb-2', id: 'joyride-tickets' %>
          <ul class="navbar-nav">
            <%= render 'inbox_menu' %>
          </ul>

          <ul class="list-group mt-4 mb-4">
            <li class="list-group-item" id="joyride-labels"><%= t(:labels) %></li>
            <% @labels.each do |label| %>
              <%= render 'labels/label_li', label: label %>
            <% end %>
          </ul>
        </nav>
      <% end %>

      <section>
        <%= yield %>
      </section>
    </div>

    <div class="alerts">
      <% flash.each do |name, msg| %>
        <% next unless name == 'alert' || name == 'notice' %>
        <% if name == 'notice' %>
          <% alert_class = 'alert-success' %>
        <% else %>
          <% alert_class = 'alert-danger' %>
        <% end %>

        <div class="alert alert-dismissible fade show <%= alert_class %>">
          <%= msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times"></i></span>
          </button>
        </div>
      <% end %>
    </div>

    <%= javascript_pack_tag 'application' %>
    <%= custom_javascript_include_tag %>
  </body>
</html>
